<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mytracefunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/02ea3469-a6bf-4f54-afb3-0b05b55adaaa/resourceGroups/MyTraceAU/providers/Microsoft.Web/sites/MyTraceFunctions</ResourceId>
    <UserName>$MyTraceFunctions</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>mytracefunctions.scm.azurewebsites.net:443</MSDeployServiceURL>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <DeployIisAppPath>MyTraceFunctions</DeployIisAppPath>
  </PropertyGroup>
</Project>